.customer-dashboard{
  background-image: url('/image.png'); /* public 폴더 기준 경로 */
  background-size: cover;       /* 화면에 꽉 차게 */
  background-position: center;  /* 가운데 정렬 */
  background-repeat: no-repeat;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Shilla_CultureB-Bold';
}


.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  width: 100%;
  max-width: 100%;         /* 전체 폭 꽉 채움 */
  padding: 40px 60px;      /* 좌우 여백만 살짝 */
  box-sizing: border-box;
}

.dashboard-userinfo {
  width: 220px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 12px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.05);
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.user-greeting {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.user-intro {
  font-size: 14px;
  color: #555;
}

/* 가운데: 지도 */
.dashboard-map {
  flex: 1;
  background-color: #fafafa;
  padding: 30px;
  border-radius: 10px;
  min-height: 300px;
  text-align: center;
  font-size: 16px;
  color: #333;
  border: 1px dashed #aaa;
}

/* 오른쪽: 광고 배너 */
.dashboard-banner {
  width: 200px;
  padding: 10px;
}

.banner-img {
  width: 100%;
  border-radius: 10px;
}
