.owner-dashboard{
    background-image: url('/image.png'); /* public 폴더 기준 경로 */
    background-size: cover;       /* 화면에 꽉 차게 */
    background-position: center;  /* 가운데 정렬 */
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.owner-deco-1 {
  position: absolute;
  bottom: 80px;   /* 아래쪽 딱 붙게 */
  left: 0;     /* 왼쪽에 붙게 */
  width: 900px;
}
.owner-deco-2{
    position: absolute;
    bottom: 50px;   /* 아래쪽 딱 붙게 */
    right: 60px;    /* 오른쪽에 붙게 */
    width: 500px;
}
.owner-deco-3 {
  position: absolute;
  bottom: 0px;   /* 아래쪽 딱 붙게 */
  left: 70px;     /* 왼쪽에 붙게 */
  width: 900px;
}
.owner-deco-4 {
  position: absolute;
  bottom: 300px;   /* 아래쪽 딱 붙게 */
  left: 50px;     /* 왼쪽에 붙게 */
  width: 250px;
}