.owner-dashboard{
    background-image: url('/image.png'); /* public 폴더 기준 경로 */
    background-size: cover;       /* 화면에 꽉 차게 */
    background-position: center;  /* 가운데 정렬 */
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.owner-deco-1 {
  position: absolute;
  bottom: 80px;   /* 아래쪽 딱 붙게 */
  left: 0;     /* 왼쪽에 붙게 */
  width: 900px;
}
.owner-deco-2{
    position: absolute;
    bottom: 50px;   /* 아래쪽 딱 붙게 */
    right: 60px;    /* 오른쪽에 붙게 */
    width: 500px;
}
.owner-deco-3 {
  position: absolute;
  bottom: 0px;   /* 아래쪽 딱 붙게 */
  left: 70px;     /* 왼쪽에 붙게 */
  width: 900px;
}
.owner-deco-4 {
  position: absolute;
  bottom: 250px;   /* 아래쪽 딱 붙게 */
  left: 30px;     /* 왼쪽에 붙게 */
  width: 150px;
}
.dashboard-userinfo{
    height: 300px;
}



/*자기 정보들*/
.dashboard-userinfo{
  height: 400px;
  margin-left: 100px;
}
.user-meta{
  font-size: 0.9em;
  margin: 4px 0;
  
}
.user-greeting{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 9px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  
}
.owner-profile-edit-btn{
  border: 1px solid black;
  padding: 0 15px;
  cursor: pointer;
  font-size: 0.9em;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.owner-profile-edit-btn:hover{
  background-color: #f0f0f0;
  border: 1px solid black;
}