@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.app-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 70px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.appheader-logo{
    width: 140px;
    height: auto;
    display: block;
    cursor: pointer;
}
.appheader-menu {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 170px; 
    flex: 1; 
}
.appheader-menu p {
    text-decoration: none;
    color: #42542c;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Shilla_CultureB-Bold';
}
.appheader-menu .active {
  font-weight: bold;
  color: black;
}
.appheader-menu p:hover {
    color: #145214; 
}