@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.owner-quest{
    background-image: url('/image.png'); 
    background-size: cover;       /* 화면에 꽉 차게 */
    background-position: center;  /* 가운데 정렬 */
    background-repeat: no-repeat;
    width: 100vw;
   
    font-family: 'Shilla_CultureB-Bold'; 
}
.owner-quest-underheader{
    display: flex;

   
}
  .owner-myquest {  /*두루마기*/
  background-image: url('/두루마기.png'); 
  background-repeat: no-repeat;
  width: 300px;
  height: 800px; 
  padding-left: 100px;
  margin-left: 200px;
  margin-top: 50px;
  }

  .owner-myquest-title {
    color: #42542c; 
    font-size: 1.7em; 
    margin: 0 auto; 
    padding-top: 70px;
    font-family: 'Shilla_CultureB-Bold';
  }
  .owner-myquest-description{
     font-size: 0.8em;
  }
  .owner-mission-list{
    width: 260px;
    padding-top: 10px;
    max-height: 300px;      
    overflow-y: auto;  
  }
  .owner-mission-list::-webkit-scrollbar {
  width: 7px;
  border-radius: 4px;
  background: #f0f0f0;
}
.owner-mission-hanjul{
    background-color: #f0f0f0; 
    border: 2px solid #9c7e4c; /* 테두리 */
    padding: 8px; /* 안쪽 여백 */
    margin: 10px; /* 바깥 여백 */
    border-radius: 5px; /* 모서리 둥글게 */
    font-size: 0.8em; /* 폰트 크기 조정 */
    width: 200px; /* 너비 조정 */
}
.owner-mission-button{ /*의뢰작성하기 버튼*/
   margin-top: 20px;
   margin-left: 170px;
   padding: 8px 10px; /* 버튼 안쪽 여백 */
   font-size: 0.8em;
   color: #42542c;
   background-color: #d4b28c;
}
.owner-mission-button:hover {
  background-color: #d4b28c; /* 호버 시 배경색 변경 */
  cursor: pointer; /* 커서 모양 변경 */
  border-color: #d4b28c;
}

/*요청된 의뢰들 흰색 네모*/
.owner-request{
    margin-left: 140px;
    margin-top: 80px;
    border-radius: 5px;
    width: 700px;
    height: 550px;
    background-color: white;
}
.owner-request-title{
    color: #42542c; 
    font-size: 1.7em; 
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #42542c; /* 아래쪽 테두리 */
}