@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.role-choice{
  background-image: url('/image.png'); 
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.role-choice-title {
  text-align: center;
  color: #42542c; 
  font-size: 3.76em; 
  margin: 0 auto; 
  padding-top: 290px;
  padding-bottom: 50px;
  font-family: 'Shilla_CultureB-Bold';
}
.role-choice-buttons {
  display: flex;
  justify-content: center; 
  gap: 20px;           
  flex-wrap: nowrap;      
  padding-top: 70px;
  max-width: 1100px;  
  margin: 0 auto; 
}
.role-choice-buttons button {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  color: white; 
  background-color: #42542c; 
  border: none;
  border-radius: 19px; 
  cursor: pointer;
  width: 400px; 
  height: 150px; 
  transition: background-color 0.3s ease; 
  font-weight: bold; 
  font-family: 'Shilla_CultureB-Bold';
  font-size: 1.6em;
}
.role-choice-button:hover {
  background-color: #145214; 
}