@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.start-page {
  background-image: url('/image.png'); 
  background-size: cover;   
  background-position: center;  
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.logo {
  width: 320px; 
  height: auto; 
  display: block;
  margin: 0 auto; 
  padding-top: 90px;
  
}
.start-page-title {
  text-align: center;
  color: #42542c; 
  font-size: 3.76em; 
  margin-top: 2px; 
  font-family: 'Shilla_CultureB-Bold';
}
.start-page-button {
  display: block;
  margin: 50px auto; 
  padding: 10px 20px; 
  font-size: 1.9em; 
  color: white; 
  background-color: #42542c; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  font-family: 'Shilla_CultureB-Bold';
}
.start-page-button:hover {
  background-color: #145214; 
}

.start-page-side-decoration {
  position: absolute;
  bottom: 40px; 
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.side-deco-left {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 500px;
  height: 300px;
  z-index: 1;
}

.side-deco-right {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 500px;
  height: 300px;
  z-index: 1;
}

.intro-bottom{
  font-size: 1.2em; 
  margin-top: 2px; 
  margin: 0 auto; 
  font-family: 'Shilla_CultureB-Bold';
}
