@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.start-page {
  background-image: url('/image.png'); /* public 폴더 기준 경로 */
  background-size: cover;       /* 화면에 꽉 차게 */
  background-position: center;  /* 가운데 정렬 */
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.logo {
  width: 270px; /* 로고 크기 조정 */
  height: auto; /* 비율 유지 */
  display: block;
  margin: 0 auto; /* 가운데 정렬 */
  padding-top: 70px;
  
}
.start-page-title {
  text-align: center;
  color: #42542c; /* 텍스트 색상 */
  font-size: 2.5em; /* 폰트 크기 조정 */
  margin-top: 2px; /* 위쪽 여백 */
  font-family: 'Shilla_CultureB-Bold';
}
.start-page-button {
  display: block;
  margin: 50px auto; /* 버튼을 가운데 정렬 */
  padding: 10px 20px; /* 버튼 패딩 */
  font-size: 1.2em; /* 폰트 크기 */
  color: white; /* 글자 색상 */
  background-color: #42542c; /* 배경색 */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 모서리 */
  cursor: pointer; /* 커서 모양 변경 */
  font-family: 'Shilla_CultureB-Bold';
}
.start-page-button:hover {
  background-color: #145214; /* 호버 시 배경색 변경 */
}

.start-page-side-decoration {
  position: absolute;
  bottom: 40px; /* 원하는 위치 조절 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.side-deco-left {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 300px;
  height: 200px;
  z-index: 1;
}

.side-deco-right {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 300px;
  height: 200px;
  z-index: 1;
}
